    
    body {
      background-color: #000;
      color: #fff;
      font-family: 'Segoe UI', sans-serif;
    }

    .btn-custom {
      background-color: #00f3c0;
      color: #000;
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
    }
    
    .card-custom {
      background-color: #1c1c1c;
      border-radius: 20px;
      padding: 30px;
      text-align: center;
      height: 100%;
      color: white;
      transition: transform 0.3s;
    }

    .card-custom:hover {
      transform: translateY(-5px);
    }

    .feature-icon {
      font-size: 30px;
      color: #00f3c0;
    }

    .store-image {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  