*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f30f0f;

}
.navbar img{
    height: 75px;
}