*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
.main{
    height: 100%;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-family: sans-serif;

}
.nav h3{
    font-weight:100;
    font-size: 20px;
}
.left{
    display: flex;
    gap: 20px;
}
.content>h4{
    margin: 20px;
}